	body {
      background-color:#023849 ;
    }
    .heading {
      height: auto;
      text-align: center;
      font-size: 65px;
      color:#e55283;
      padding-top: 7%;
      font-family: "Allura";
      text-shadow:5px 5px #2d101a;
    }
    .randquote {
      width: 50%;
      height: 220px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
    }
    #randquote {
      display: block;
      margin: 0 auto;
      font-size: 30px;
      font-family:"cursive";
      color:#dcf6f6;
      padding-left:30%;
    }
    #welcomemsg {
      padding-left:45%;
      font-size: 30px;
      font-family:"cursive";
      color:#f37736;
    }
    
    button{
      background:#e9e257;
	    padding: 5px 20px 5px 20px;
	    font-weight: bold;
	    font-size: 20px;
	    font-family:"Times";
	    color:black;
    	margin-top: 30px;
    	margin-left: auto;
    	margin-right: auto;
	    margin-bottom: 0;
      appearance: none;
    	border: 1px solid transparent;
	    border-radius: 0.2em;
      box-shadow: none;
	    display: block;
	    outline: 0;
    }
    footer {
      height: auto;
      text-align:center;
      font-size:25px;
      font-family: "Comic Sans, cursive";
      font-weight:normal;
      color:#a9d9bc;
      text-shadow:5px 2px #1a221e;
    }

